@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
  background-color: #ffffff; /* White background */
  border-radius: 8px; /* Rounded corners */
  min-height: 80px; /* Minimum height */
  padding: 16px; /* Padding inside the component */
  border: 1px solid #e0e0e0; /* Soft border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}



 

